@media screen and (max-width: 1920px) {
    body{
        display: flex;
        justify-content: center;
        margin: 0 auto 0 auto;
        width: 1194px;
        border: 1px solid gray;
        font-family: 'Roboto', sans-serif;
    }
}
